<div class="master">
  <blockquote></blockquote>

  <div class="pull-the-bull-wrapper">
    <span>Want some more?</span>
    <button class="pulling-the-bull">Channel Your Awakened Self</button>
  </div>
</div>
