<!DOCTYPE html>
<html lang="en">
  <head>
    <title>
      New-Age Poppycock
    </title>
    <link rel="stylesheet" media="all" href="css/main.css" />
  </head>
  <body>

    <%= yield %>

    <script src="http://code.jquery.com/jquery-latest.min.js" type="text/javascript"></script>
    <script src="js/vocab.js" type="text/javascript"></script>
    <script src="js/patterns.js" type="text/javascript"></script>
    <script src="js/main.js" type="text/javascript"></script>
    <script type="text/javascript">
      $(".pulling-the-bull").on("click", function(event) {
        swapText();

        $(this).text(generateText(1, 0));
      });
    </script>
  </body>
</html>

